<div class="">

  <div class=" col-md-9 col-lg-9 ">
    <a href="#"><i class="fa fa-pencil "></i> Cập nhật thông tin cá nhân</a>
    <br />
    <br />

    <table class="table table-user-information">
      <tbody>
        <tr>
          <td>Họ tên:</td>
          <td>{{profile.user.name}}</td>
        </tr>
        <tr>
          <td>Username:</td>
          <td><strong>{{profile.user.username}}</strong></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{profile.user.email}}</td>
        </tr>
        <tr>
          <td>Loại tài khoản</td>
          <td>
            <span class="label label-info">
                                {{ profile.user.is_lecture ? "Giảng viên" : "Sinh viên" }}
                            </span>
          </td>
        </tr>

      </tbody>
    </table>

    <hr />




    <div class="">
        <div class="qa-message-list" id="wallmessages">
        				<div class="message-item" id="m16">
    						<div class="message-inner">
    							<div class="message-head clearfix">
    								<div class="message-icon pull-left"><a href="#"><i class="glyphicon glyphicon-check"></i></a></div>
    								<div class="user-detail">
    									<h5 class="handle">Created Project</h5>
                                        <div class="post-type">
    										<p>Project</p>
    									</div>
    									<div class="post-time">
                                            <p><i class="glyphicon glyphicon-time"></i> 2 Min Ago</p>
    									</div>
    								</div>
    							</div>
    							<div class="qa-message-content">
    								<p>Admin created Blah Blah Blah, project, as part of the Campaign.</p>
    							</div>
    			            </div>
    					</div>

    					<div class="message-item" id="m16">
        					<div class="message-inner">
    							<div class="message-head clearfix">
    								<div class="message-icon pull-left"><a href="#"><i class="glyphicon glyphicon-check"></i></a></div>
    								<div class="user-detail">
    									<h5 class="handle">Created Project</h5>
                                        <div class="post-type">
    										<p>Project</p>
    									</div>
    									<div class="post-time">
                                            <p><i class="glyphicon glyphicon-time"></i> 2 Min Ago</p>
    									</div>
    								</div>
    							</div>
    							<div class="qa-message-content">
    								<p>Admin created Blah Blah Blah, project, as part of the Campaign.</p>
    							</div>
    			            </div>
    					</div>

                        <div class="message-item" id="m16">
            				<div class="message-inner">
    							<div class="message-head clearfix">
    								<div class="message-icon pull-left"><a href="#"><i class="glyphicon glyphicon-check"></i></a></div>
    								<div class="user-detail">
    									<h5 class="handle">Created Project</h5>
                                        <div class="post-type">
    										<p>Project</p>
    									</div>
    									<div class="post-time">
                                            <p><i class="glyphicon glyphicon-time"></i> 2 Min Ago</p>
    									</div>
    								</div>
    							</div>
    							<div class="qa-message-content">
    								<p>Admin created Blah Blah Blah, project, as part of the Campaign.</p>
    							</div>
    			            </div>
    					</div>

                        <div class="message-item" id="m16">
            				<div class="message-inner">
    							<div class="message-head clearfix">
    								<div class="message-icon pull-left"><a href="#"><i class="glyphicon glyphicon-check"></i></a></div>
    								<div class="user-detail">
    									<h5 class="handle">Created Project</h5>
                                        <div class="post-type">
    										<p>Project</p>
    									</div>
    									<div class="post-time">
                                            <p><i class="glyphicon glyphicon-time"></i> 2 Min Ago</p>
    									</div>
    								</div>
    							</div>
    							<div class="qa-message-content">
    								<p>Admin created Blah Blah Blah, project, as part of the Campaign.</p>
    							</div>
    			            </div>
    					</div>

                        <div class="message-item" id="m16">
            				<div class="message-inner">
    							<div class="message-head clearfix">
    								<div class="message-icon pull-left"><a href="#"><i class="glyphicon glyphicon-check"></i></a></div>
    								<div class="user-detail">
    									<h5 class="handle">Created Project</h5>
                                        <div class="post-type">
    										<p>Project</p>
    									</div>
    									<div class="post-time">
                                            <p><i class="glyphicon glyphicon-time"></i> 2 Min Ago</p>
    									</div>
    								</div>
    							</div>
    							<div class="qa-message-content">
    								<p>Admin created Blah Blah Blah, project, as part of the Campaign.</p>
    							</div>
    			            </div>
    					</div>

    	</div>
    </div>




  </div>
