<div class="container">
	<div class ="row" ng-if = "department.length">
		<div class="row">
			<div class="col-md-8">
				<center>
				<paging
					page="currentPage"
					page-size="10"
					total="department.length"
					show-prev-next="true"
					show-first-last="true"
					hide-if-empty="department.length<=10"
					>
				</paging>
				<h3 class="department_name" ></h3>
				</center>
			</div>
		</div>
		<div class ="row">
			<div class="col-md-8">
				<div class ="row" ng-repeat="one_thesis in department | limitTo:10:currentPage-1" ng-click = "goToViewThesis(one_thesis.thesis_id)">
					<div class="col-sm-2" >
						<img ng-if="one_thesis.filename" ng-src="{{'/uploads/thumbs/' + one_thesis.filename}}.png" alt="Ảnh KL" class="img-responsive">
						<img ng-if="!one_thesis.filename" ng-src="/public/message.jpg" alt="Ảnh KL" class="img-responsive">
					</div>
					<div class="col-sm-10">
						<a ng-click="goToViewThesis(one_thesis.thesis_id)" href="javascript:;">
							<h5 class="thesis_name"><span>{{one_thesis.thesis_name | limitTo:100}}</span></h5>
						</a>
						<i class="thesis_intro"> <span>{{one_thesis.intro | limitTo:200}}...</span></i>
						<p>Đăng bởi: <strong>{{one_thesis.name}}</strong>
							| Thời gian: {{one_thesis.created}}
							| Lượt xem: <span class="label label-default">{{one_thesis.counter}}</span></p>
							<hr>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<recent-side />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<center>
					<paging
						page="currentPage"
						page-size="10"
						total="department.length"
						show-prev-next="true"
						show-first-last="true"
						hide-if-empty="department.length<=10"
						>
					</paging>
					</center>
				</div>
			</div>
		</div>
		<div class="row" ng-if="department.length==0">
			<center><h1>Chưa có khóa luận nào.</h1></center>
		</div>