<div class ="row">
	<ol class="breadcrumb">
		<li><a href="#/">Home</a></li>
		<li><a href="thesis">Thesis</a></li>
		<li class="active">{{thesis.thesis_name}}</li>
	</ol>
	<div class="row">
		<div class="col-md-8">
			<h4>{{thesis.detail.thesis_name}}</h4>
		</div>
		<div class="col-md-4">
			<button class="btn btn-default">Download</button>
		</div>
	</div>
	<p>Đăng bởi {{thesis.map.name}}, vào lúc {{thesis.detail.created}}</p>
	
	<!-- Go show some stars-->
	<div>
		
	</div>
	<!-- Go some tag -->
	<div>
		<ul class="nav nav-pills">
			<li ng-repeat="tag in thesis.tags">
				<a href="javascript:;">{{tag.name}}</a>
			</li>
		</ul>
	</div>
	<!-- Here go pictures -->
	<div>
		
	</div>
	<!-- Infomation -->
	<div>
		
	</div>
	
	
	
	
	
</div>


<!-- comments -->
<div class="row">
	<input-stars max="5" ng-model="YourCtrl.property"></input-stars>
	<comment><comment>
</div>