<div class ="row">
	<div  class ="row" style="outline: 2px solid #eee; padding: 20px 20px;">
		<div  class ="row">			
			<div class="col-sm-offset-3 col-sm-6" >
				<h1>Danh sách khóa luận</h1>
			</div>
			<div class="col-sm-3" >
				<a class="btn btn-success" ng-click="goToCreateThesis()" href="javascript:;"><i class="">Thêm khóa luận</i></a>
			</div>
		</div>
	
		<div class ="row" ng-repeat="one_thesis in data_thesis">
			<div class="col-sm-1" >
				<img ng-src="/public/message.jpg" alt="Ảnh KL" height="100px" width="60px">
			</div>
			<div class="col-sm-10" >
				
				<h5 class="thesis_name"> {{one_thesis.thesis_name}}</h5>
				<i class="thesis_intro"> <span>{{one_thesis.intro | limitTo:200}}....</span></i>
				<hr>
			</div>
			<div class="col-sm-1" >
				<a class="btn btn-success" ng-click="goToViewThesis(one_thesis.thesis_id)" href="javascript:;"><i class="">Xem</i></a>
				<a class="btn btn-success" ng-click="goToCreateThesis()" href="javascript:;"><i class="">Xóa</i></a>
				<a class="btn btn-success" ng-click="goToUpdateThesis(one_thesis.thesis_id)" href="javascript:;"><i class="">Sửa </i></a>
			</div>
		</div>
	</div>
</div>