<div class="row-fluid">
	<div class="list-group">
		<a href="" class="list-group-item">Hướng dẫn sử dụng</a>
		<a href="#contact" class="list-group-item">Liên hệ</a>
		<a href="" class="list-group-item">Chính sách sử dụng</a>
	</div>
</div>
<br>
<div class="row-fluid">
	<div ng-cloak="">
		<ul class="nav nav-tabs" ng-init="current_tab = 1">
			<li style="width: 50%; text-align: center;"><a href="javascript:;" ng-click="current_tab = 1">Mới</a></li>
			<li style="width: 50%; text-align: center;"><a href="javascript:;" ng-click="current_tab = 2">Nổi bật</a></li>
		</ul>
		<div ng-show="current_tab == 1">
			<ul class="nav nav-pills">
				<li ng-repeat="r_t in recent_thesis" style="width: 100%;">
					<a href="">{{r_t.thesis_name}}</a>
				</li>
			</ul>
		</div>
		<div ng-show="current_tab == 2">
			<ul class="nav nav-pills">
				<li ng-repeat="s_t in score_thesis" style="width: 100%;">
					<a href="">{{s_t.thesis_name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>