<div class ="container">
	<div class ="row">
		<div ng-if="search.length!=0" class ="row" style="outline: 2px solid #eee; padding: 20px 20px;">

			<div class ="row" ng-repeat="thesis in search | limitTo:10:currentPage-1" ng-click = "goToViewThesis(thesis.thesis_id)">
				<div class="col-sm-1" >
					<img ng-if="thesis.filename" ng-src="{{'/uploads/thumbs/' + thesis.filename}}.png" alt="Ảnh KL" class="img-responsive">
					<img ng-if="!thesis.filename" ng-src="/public/message.jpg" alt="Ảnh KL" class="img-responsive">
				</div>
				<div class="col-sm-11" >

					<h5 class="thesis_name"> {{thesis.thesis_name}}</h5>
					<i class="thesis_intro"> <span>{{thesis.intro | limitTo:200}}....</span></i>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<center>
					<paging
						page="currentPage"
						page-size="10"
						total="search.length"
						show-prev-next="true"
						show-first-last="true"
						hide-if-empty="search.length<=10"
						>
					</paging>
					</center>
				</div>
			</div>
		</div>
		<div ng-if="search.length==0"><center><h1>Không tìm thấy kết quả</h1></center></div>
	</div>
</div>
