<div class ="row">
	<div class ="row">
		<input ng-model="searchstring">
		<button ng-click="doSearch()">ok</button>
	</div>

	<paging 
		page="currentPage"
	    page-size="10" 
	    total="search.length"
	    >
	</paging>

	<br>
	<div class ="row" style="outline: 2px solid #eee; padding: 20px 20px;">
	

		<div class ="row" ng-repeat="thesis in search | limitTo:10:currentPage" ng-click = "goToViewThesis(thesis.thesis_id)">
			<div class="col-sm-1" >
				<img ng-src="/public/message.jpg" alt="Ảnh KL" height="100px" width="60px">
			</div>
			<div class="col-sm-11" >
				
				<h5 class="thesis_name"> {{thesis.thesis_name}}</h5>
				<i class="thesis_intro"> <span>{{thesis.intro | limitTo:200}}....</span></i>
				<hr>
			</div>
		</div>
	</div>
</div>

{{abc}}
{{searchstring}}