<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
                                Thỏa thuận sử dụng
                            </h3>
  </div>
  <div class="panel-body text-justify">
    <p style="text-align: justify;">
      <span style="color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px; text-align: justify;">

        Không thương mại hoá các dữ liệu từ <strong>thesishub </strong>
        Bạn hiểu và đồng ý về việc không giới thiệu, nhân bản, sao lưu, mua bán, trao đổi, bán lại hoặc khai thác các dữ liệu có trên&nbsp;</span>
      <strong
      style="color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px; text-align: justify;">thesishub&nbsp;</strong><span style="color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px; text-align: justify;">nhằm mục đích thương mại. Bạn đồng ý rằng hoạt đông thương mại chỉ được chấp nhận đối với các ấn phẩm hợp pháp và áp dụng đối với tài liệu thuộc phân loại Sách rao bán với tiêu chí cung cấp thông tin sách cho cộng đồng, không khuyến khích quảng cáo.</span></p>

  </div>
</div>
