<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
                                Qui định chung
                            </h3>
  </div>
  <div class="panel-body text-justify">
    <p>
      <b style="color: rgb(0, 0, 0); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18.5714282989502px; text-indent: 48px; margin: 0px; padding: 0px;">Điều kiện sử dụng</b></p>
    <p>
      <span style="color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px; text-align: justify; text-indent: 36pt;">Trước khi sử dụng các chức năng chia sẻ hay sử dụng lại nội dung chia sẻ, quí vị hãy đọc kỹ các điều khoản được qui định dưới đây và đảm bảo rằng quí vị đã chấp nhận tuân thủ chúng.</span></p>
    <div class="pview" style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; line-height: 18px;">
      <div class="cview" style="margin: 0px; padding: 0px;">
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Nếu quí vị không đồng ý với bất kỳ điều khoản nào dưới đây quí vị hãy ngừng ngay việc truy cập website. Thông tin này có thể thay đổi bất cứ lúc nào.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          &nbsp;</p>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="color:#000000;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Điều khoản về dịch vụ web&nbsp;</b></span></span>
          </span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">thesishub là website chia sẻ các tài liệu điện tử phục vụ học tập và nghiên cứu, website có các chức năng internet cho phép tạo thành một Thư viện điện tử, theo đó các nội dung chia sẻ được xây dựng từ bản thân mỗi thành viên; nội dung có thể có được do thành viên tự tạo, sưu tầm.. thesishub khuyến khích di chuyển các nội&nbsp;dung chia sẻ từ các nguồn khó truy cập lên&nbsp;website&nbsp;để tạo&nbsp;điều kiện chia sẻ tốt hơn. Người dùng hiểu rằng việc thesishub xử lý, chọn lựa và đăng tải tài liệu là dựa trên nguyện vọng chia sẻ của người đã góp tài liệu, việc đó không thay đổi tình trạng bản quyền của tài liệu đó. thesishub không chịu trách nhiệm hay nghĩa vụ pháp lý nào về bản quyền hay điều kiện sử dụng của bất cứ bên thứ ba nào.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">thesishub khuyến cáo người dùng tuân thủ điều kiện sử dụng đối với mỗi tài liệu mà họ đang có hoặc sẽ dùng trên thesishub và sẽ áp dụng các biện pháp khoá truy cập tới nội dung vi phạm hoặc phong toả tài khoản người dùng để giữ cho thesishub là một môi trường chia sẻ lành mạnh.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          &nbsp;</p>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Việc đăng ký và sử dụng tài khoản người dùng</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Mỗi khi truy cập website bạn đã là người dùng và sau khi đăng ký thành viên thành công bạn đã có một tài khoản người dùng và trở thành thành viên của website. Việc đăng ký thành viên là hoàn toàn tự nguyện và thesishub có quyền từ chối chấp nhận trở thành thành viên của bạn.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn tự đăng ký và tự quản lý lấy tài khoản người dùng trong đó có mật khẩu và một số thông tin cá nhân. Thành viên không được cho người khác mượn tài khoản truy cập này. Trong trường hợp bị quên mật khẩu truy cập, bạn có quyền yêu cầu yêu cầu phục hồi tài khoản truy cập với mật khẩu mới. thesishub không chịu trách nhiệm về những tổn thất mà bạn gặp phải khi bạn sử dụng tài khoản sử dụng không đúng, bạn sẽ chịu hoàn trách nhiệm pháp lý đối với những thiệt hại của thesishub hoặc các bên có liên quan trong trường hợp các thiệt hại đó được xác định là do tài khoản người dùng của bạn gây ra. Trong một số trường hợp vi phạm các điều khoản sử dụng, thesishub có quyền ngưng hoặc khoá vĩnh viễn tài khoản người dùng.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          &nbsp;</p>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Sử dụng dịch vụ web trên thesishub</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn hiểu rằng thesishub chỉ tạo môi trường chia sẻ và bạn hiểu và chịu trách nhiệm trước các công việc bạn đang làm với thông tin mà bạn chia sẻ cũng như thông tin bạn sẽ dùng từ đó. thesishub không chịu trách nhiệm về độ trung thực, sự toàn vẹn, tính hợp pháp của các nội dung mà chỉ cung cấp các chức năng web để bạn thấy được đánh giá của cộng đồng và tham gia như một thành viên ảo nhằm giúp bạn sàng lọc thông tin, góp phần giữ gìn sự lành mạnh của thesishub.</span></p>
        <p style="margin: 0px; padding: 0px;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn đồng ý không sử dụng các dịch vụ của thesishub để thực hiện các hành động sau:</span></p>
        <ul style="margin: 0px; padding-right: 0px; padding-left: 0px; list-style: none;">
          <li style="margin: 0px; padding: 0px;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Vi phạm các điều khoản về an ninh thông tin trong hệ thống pháp luật hiện hành.</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Sao chép, loan truyền bất kỳ nội dung dữ liệu nào có liên quan hoặc có ảnh hưởng không tốt đến thương hiệu, bí mật kinh doanh, bản quyền hoặc các quyền sở hữu của bất kỳ ai;</span></li>
          <li style="margin: 0px; padding: 0px;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Sử dụng Tài khoản cá nhân và Mật khẩu của người dùng khác một cách bất hợp pháp;</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Thu thập, sử dụng các thông tin cá nhân của người sử dụng khác. Bao gồm các thông tin về tài khoản hoặc địa chỉ thư điện tử, địa chỉ, số điện thoại và các thông tin cá nhân từ thesishub;</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Can thiệp vào quá trình xác thực người dùng, dùng các thủ thuật như sửa cookie, nghe lén.. để truy cập trái phép.</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Lưu trữ, chia sẻ các nội dung không phải sách, tài liệu, học liệu các nội dung không có giá trị tham khảo đối với người khác.. ví dụ như các video clip cá nhân, audio clip, file nhạc, chương trình máy tính.. Các clip đa phương tiện trợ giúp học ngoại ngữ, các hỗ trợ người khuyết tật không thuộc số này.</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            &nbsp;</li>
        </ul>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Điều khoản về bồi thường thiệt hại</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn hiểu và đồng ý rằng bạn sẽ không khiếu nại hoặc bắt buộc thesishub &nbsp;phải bồi thường cho bạn về tất cả những tổn hại, trách nhiệm, chi phí do :</span></p>
        <ul style="margin: 0px; padding-right: 0px; padding-left: 0px; list-style: none;">
          <li style="margin: 0px; padding: 0px;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Tổn thất xảy ra trong quá trình bạn truy cập và sử dụng các dịch vụ trực tuyến trên thesishub</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn vi phạm bản quyền hoặc các vấn đề có liên quan đến sở hữu trí tuệ của một cá nhân, tập thể hoặc một trang web thứ ba</span></li>
          <li style="margin: 0px; padding: 0px; text-align: justify;">
            <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Các tổn thất do khiếu nại của một bên thứ ba đối với bạn về các nội dung bạn đã sao chép, phân phối, mua bán, trao đổi, bán lại hoặc khai thác dựa vào việc sử dụng nội dung từ thesishub.</span></li>
        </ul>
        <div style="margin: 0px; padding: 0px;">
          &nbsp;</div>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Không thương mại hoá các dịch vụ&nbsp;</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn hiểu và đồng ý về việc không giới thiệu, nhân bản, sao lưu, mua bán, trao đổi, bán lại hoặc khai thác các dữ liệu có trên thesishub nhằm mục đích thương mại.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn đồng ý rằng hoạt đông thương mại chỉ được chấp nhận đối với các ấn phẩm hợp pháp và áp dụng đối với tài liệu thuộc phân loại&nbsp;<b style="margin: 0px; padding: 0px;">Sách rao bán</b>&nbsp;với tiêu chí&nbsp;<b style="margin: 0px; padding: 0px;">cung cấp thông tin sách cho cộng đồng</b>,&nbsp;<b style="margin: 0px; padding: 0px;">không khuyến khích quảng cáo</b>.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          &nbsp;</p>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Có thể thay đổi nội dung dịch vụ web</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn hiểu và đồng ý rằng thesishub có toàn quyền trong việc thay đổi, cho phép hoạt động hoặc đóng cửa một hoặc một phần dịch vụ của thesishub vào bất kỳ thời điểm hoặc trạng thái nào với việc có hoặc không có các thông báo trước.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          &nbsp;</p>
        <div style="margin: 0px; padding: 0px;">
          <span style="font-size:14px;"><span style="text-indent: 36pt; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18.5714282989502px;"><span style="margin: 0px; padding: 0px;"><b style="margin: 0px; padding: 0px;">Có thể ngừng hiệu lực tài khoản thành viên</b></span></span>
          </span>
        </div>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Bạn hiểu và đồng ý rằng thesishub có thể, trong một số trường hợp nhất định, sẽ ngừng việc sử dụng Tài khoản cá nhân và mật khẩu của bạn mà không cần phải thông báo trước. Ngoài ra, một số trường hợp khác cũng có thể dẫn đến việc ngưng sử dụng dịch vụ như sau: (1) Vi phạm hoặc làm trái các thỏa thuận trong Điều kiện sử dụng (2) Yêu cầu ngừng sử dụng dịch vụ từ bạn (bạn tự xóa Tài khoản cá nhân của mình), (3) Các lỗi đột xuất về mặt kỹ thuật hoặc bảo mật phát sinh bất khả kháng (4) Quá thời hạn kích hoạt tài khoản (5) Sử dụng thesishub để tham gia vào các hoạt động bất hợp pháp.</span></p>
        <p style="margin: 0px; padding: 0px; text-align: justify;">
          <span style="text-indent: 36pt; color: rgb(131, 131, 131); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: small; line-height: 18.5714282989502px;">Cuối cùng, bạn hiểu và đồng ý rằng tất cả các nguyên nhân dẫn đến việc ngừng sử dụng dịch vụ hoàn toàn là do bạn quyết định. thesishub khẳng định không liên quan trách nhiệm tới bạn hoặc một bên thứ ba về việc kết thúc sử dụng này.</span></p>
      </div>
    </div>
    <p>
      &nbsp;</p>

  </div>
</div>
